

.page-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('http://test002-0906.oss-cn-hangzhou.aliyuncs.com/b87e93f95e77727fe813804d6ca2877b-1440-960.jpeg');
  background-color: #5fa280;
  background-position: center top;
  background-size: cover;
  padding-top: 20px;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.header {
  font-size: 46px;
  color: #41725a;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.logout-btn {
  width: 113px;
  height: 38px;
  line-height: 38px;
  background: url('http://test002-0906.oss-cn-hangzhou.aliyuncs.com/9956759c717e9f386beda7afd4579a25-113-38.png');
  font-size: 20px;
  color: #41725a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.upload-container {
  position: relative;
  width: 1000px;
  height: 176px;
  background-image: url('http://test002-0906.oss-cn-hangzhou.aliyuncs.com/296609bc791e5dbc34ca3931e5aa0106-1000-58.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.upload-container .drag-container {
  width: 780px;
  height: 150px;
  box-sizing: content-box;
  border: none;
  border-top: 5px solid #41725a;
  border-left: 5px solid #41725a;
  border-right: 5px solid #41725a;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

.upload-title {
  font-size: 22px;
  color: #41725a;
}

.upload-description {
  font-size: 14px;
  color: #8fc379;
}

.gallery-container {
  text-align: center;
  background: #d5ecca;
  display: flex;
  flex-direction: column;
}

.operate-bar {
  background-color: #bfdaba;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.delete-multiple {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #a6c5a7;
}

.img-list {
  padding: 40px 40px 20px;
  height: 444px;
}

.card-container {
  height: 178px;
  position: relative;
  float: left;
  width: 160px;
  cursor: pointer;
  border: 2px solid #eee;
  box-sizing: content-box;
  margin: 0px 10px 20px;
}

.card-checked {
  border: 2px solid #0070cc;
}

.img-container {
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAChJREFUeNpiPHPmDAMMGBsbw9lMDDgA6RKM%2F%2F%2F%2Fh3POnj1LCzsAAgwAQtYIcFfEyzkAAAAASUVORK5CYII%3D');
}

.width-image {
  width: 150px;
}

.height-image {
  height: 150px;
}

.original-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
  background-color: rgba(230, 230, 230, 1);
}

.icon-groups {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
  line-height: 34px;
  display: flex;
  /* transition: 0.5s all; */
}
.icon-item {
  flex: 1;
  font-family: 'iconfont';
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  color: #000;
  background: rgba(230, 230, 230, 1);
}

.icon-item:hover {
  background: rgba(100, 100, 100, 1);
  color: #fff;
}
.icon-checked {
  font-family: 'iconfont';
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  color: #0070cc;
  position: absolute;
  left: 0px;
  top: 0px;
}

.icon-unchecked {
  font-family: 'iconfont';
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.pagination-container {
  margin-bottom: 40px;
}