.page-wrap {
  width: 100%;
  min-height: 100vh;
  background: #defbf8;
  padding-top: 20px;
}

.main-container {
  width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

.header-container {
  position: relative;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

.logout-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.upload-container {
  position: relative;
  height: 200px;
  margin-bottom: 50px;
}

.upload-container .drag-container {
  width: 800px;
  height: 200px;
  border: none;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  background: #68d6cc;
}

.gallery-container {
  text-align: center;
  background: #fff;
  padding: 20px 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px 15px;
  width: 150px;
  height: 150px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.width-image {
  width: 100px;
}

.height-image {
  height: 100px;
}

.check-icon {
  font-family: 'iconfont';
  font-size: 16px;
  color: #f00;
}