.page-wrap {
  width: 100%;
  min-height: 100vh;
  background-image: url('http://test002-0906.oss-cn-hangzhou.aliyuncs.com/b87e93f95e77727fe813804d6ca2877b-1440-960.jpeg');
  background-color: #5fa280;
  background-position: center top;
  background-size: cover;
  padding-top: 200px;
}

.main-container {
  width: 500px;
  height: 320px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 30px;
  margin: 20px 0 40px;
}

.username-input {
  width: 300px;
  margin-bottom: 10px;
}

.password-input {
  width: 300px;
  margin-bottom: 20px;
}

.login-btn {
  width: 300px;
}