@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
}

.img-list img {
  width: 100px;
  height: 100px;
}

.clipboard {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px;
}




