@import '~antd/dist/antd.css';

@font-face {
  font-family: 'iconfont';  /* Project id 2600609 */
  src: url('//at.alicdn.com/t/font_2600609_vdfmnve9w4.woff2?t=1623208614122') format('woff2'),
       url('//at.alicdn.com/t/font_2600609_vdfmnve9w4.woff?t=1623208614122') format('woff'),
       url('//at.alicdn.com/t/font_2600609_vdfmnve9w4.ttf?t=1623208614122') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
  font-size: 20px;
  color: #000;
}